name: CI/CD Pipeline

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  check:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    
    - name: Setup
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    
    - name: Code analysis
      run: |
        true
    
    - name: Testing
      run: |
        true
    
    - name: Build
      run: |
        true
    
    - name: Security
      run: |
        true